.columnItem{
  margin-top: 20px;
  margin-left: 50px;
  background: #FDEFD6;
  width: 380px;
  height: 80%;
  border-radius: 2px;
  border: 1px solid #F8C278;

  .title {
    margin-left: 20px;
    margin-top: 10px;
    font-size: .95em;
    font-weight: bold;
  }

  .body {
    text-align: left;
    margin-top: 3px;
    margin-left: 20px;
    font-size: .85em;
  }

  .links{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: -10px;
    font-size: .80em;
    font-weight: bold;

    .edit {
      color: #F8C278;
      text-decoration: none;
    }

    .delete {
      color: #F8C278;
      text-decoration: none;
      margin-left: 10px;
    }
  }

  .createdBy {
    text-align: right;
    margin-right: 10px;
    font-size: .85em;
  }
}
