
.header{
  background-color:#3C4048;
  height: 50px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;



  .title {
    padding-top: 25px;
    color: white;
    margin-left: 20px;
  }

  .btn {
    font-family: Courier New;
    color: #ffffff;
    font-size: 14px;
    background: #3B4048;
    padding: 5px 8px 5px 8px;
    border: solid white 1px;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 15px;

  }

  .btn:hover {
    background: #6c6c6e;
    text-decoration: none;
  }

}

